{% extends 'base.html.twig' %}

{% block title %}New PartnersUtilLinkes{% endblock %}

{% block body %}
    <h1>Create new PartnersUtilLinkes</h1>

    {{ include('partners_util_linkes/_form.html.twig') }}

    <a href="{{ path('app_partners_util_linkes_index') }}">back to list</a>
{% endblock %}
