<form method="post" action="{{ path('app_partner_social_medias_delete', {'id': partner_social_media.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner_social_media.id) }}">
    <button class="btn">Delete</button>
</form>
