<ul class="metismenu" id="menu">


    <li>
        <a href="/admin-dashboard">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-home"></i>
            </div>
            <div class="menu-title">Tableau de bord</div>
        </a>
    </li>
    <li>
        <a href="{{ path('app_partners_index') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-group"></i>
            </div>
            <div class="menu-title">Nos partenaires</div>
        </a>
    </li>
    <li>
        <a href="{{ path('app_user_index') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-group"></i>
            </div>
            <div class="menu-title">Nos membres</div>
        </a>
    </li>
 
    
    <!--
        <li>
        <a href="{{ path('app_category_index') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-news"></i>
            </div>
            <div class="menu-title">Catégories</div>
        </a>
    </li>
    -->
    
    <!--<li>
        <a href="{{ path('app_region_index') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-news"></i>
            </div>
            <div class="menu-title">Régions</div>
        </a>
    </li>-->
    
    

    


    
    
</ul>