<ul class="metismenu" id="menu"> 

    <li>
        <a href="{{ path('espace_client_route') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-home"></i>
            </div>
            <div class="menu-title">Mon espace</div>
        </a>
    </li>
    <li>
        <a href="{{ path('client_messages_app_route') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-group"></i>
            </div>
            <div class="menu-title">Mes messages</div>
        </a>
    </li>
 
    
</ul>