<ul class="metismenu" id="menu">
     



    <li>
        <a href="/">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-home"></i>
            </div>
            <div class="menu-title">Tableau de bord</div>
        </a>
    </li>
    <li>
        <a href="{{ path('operator_messages_app_route') }}">
            <div class="parent-icon"> <i class="fadeIn animated bx bx-group"></i>
            </div>
            <div class="menu-title">Mes messages</div>
        </a>
    </li>

    
 
 

    


    
    
</ul>