{% extends 'base-admin.html.twig' %}
 

{% block body %}



    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3"><i class="fadeIn animated bx bx-group"></i> Nos membres</div>
         
        <div class="ms-auto"> 
                <a href="{{ path('app_user_index') }}" type="button" class="btn btn-primary">Retour</a> 
        </div>
    </div>

    


    <div class="card">
        <div class="card-body">
            <h1>Modifier un membre</h1>

            {{ include('user/_form.html.twig') }}
        
        </div>
    </div>
{% endblock %}
